<h1>Color changer</h1>

<div id="changeable"></div>

<div id="button_container">
    <button class="color_button" id="blue" (click)="changeColor('rgb(0, 162, 255)')"></button>
    <button class="color_button" id="red" (click)="changeColor('rgb(255, 0, 0)')"></button>
    <button class="color_button" id="green" (click)="changeColor('rgb(56, 238, 11)')"></button>
    <button class="color_button" id="yellow" (click)="changeColor('rgb(255, 230, 0)')"></button>
</div>

<p>By: Alex Kollár<br>
<a href="https://github.com/P3arX">Github</a>
</p>